.btn {
  padding: 10px 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  border: none;
  border-radius: 10px;
  &-primary {
    background: linear-gradient(90.55deg, $btnPrimary 0%, $btnSecondary 100%);
    color: $mainBg;
  }
}