.filter {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  &__item {
    &-label {
      position: relative;
      padding: 0 0 0 35px;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      cursor: pointer;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 20px;
        background: url("/src/img/svg/circle.svg") no-repeat center;
        background-size: contain;
        transform: translateY(-50%);
      }
    }
    input {
      &[type=radio] {
        display: none;
        &:checked {
          &+.filter__item-label {
            &::after {
              background-image: url("/src/img/svg/circle-filled.svg");
            }
            &+.filter__item-body {
              display: block;
            }
          }
        }
      }
    }
    &-body {
      display: none;
    }
  }
}