.offcanvas {
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: $greyBg;
  @include media-breakpoint-up(sm) {
    width: 480px;
  }
  @include media-breakpoint-up(md) {
    padding: 40px;
  }
  @include media-breakpoint-up(lg) {
    visibility: visible !important;
    top: initial;
    right: initial;
    bottom: initial;
    left: initial;
    transform: none;
  }
  &-end {
    border: none;
  }
  &-backdrop {
    &.show {
      @include media-breakpoint-up(lg) {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
  &-header {
    padding: 0;
    justify-content: end;
    @include media-breakpoint-up(lg) {
      justify-content: start;
    }
  }
  &-body {
    padding: 40px 0 0;
    @include media-breakpoint-up(md) {
      padding: 20px 0 0;
    }
  }
}