// typography
$mobileFontSize: 13px;
$mobileLineHeight: 20px;
$tabletFontSize: 15px;
$tabletLineHeight: 23px;
$desktopFontSize: 18px;
$desktopLineHeight: 26px;

// colors
$mainText: #333;
$greyText: #ABABAB;
$linkText: #8EA7FF;
$mainBg: #FFF;
$greyBg: #F8F8F8;