<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="True English Tea">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="robots" content="noindex, nofollow">

    <link rel="icon" href="/src/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/src/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/src/img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/src/img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/src/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/src/img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/src/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/src/img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/src/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/src/img/touch-icon-ipad-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/src/img/touch-icon-ipad-pro.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/src/img/touch-icon-iphone-6-plus.png">
</head>
<body>

<div class="grid">
    <div class="">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="logo">MSI 2020</div>
                    </div>
                    <div class="col-6 text-end">
                        <button type="button" class="favourite d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#favourite" aria-controls="favourite">Favourite</button>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="heading">
                            <h1>Hey!</h1>
                            <h2>Let’s try to find a joke for you:</h2>
                        </div>
                        <div class="filter">
                            <div class="accordion filter__accordion" id="filter">
                                <div class="accordion-item filter__accordion-item">
                                    <h2 class="accordion-header filter__accordion-header" id="random">
                                        <button class="accordion-button filter__accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#randomBody" aria-expanded="true" aria-controls="randomBody">
                                            Random
                                        </button>
                                    </h2>
                                    <div id="randomBody" class="accordion-collapse collapse show filter__accordion-collapse" aria-labelledby="random" data-bs-parent="#filter">
                                        <div class="accordion-body filter__accordion-body"></div>
                                    </div>
                                </div>
                                <div class="accordion-item filter__accordion-item">
                                    <h2 class="accordion-header" id="categories">
                                        <button class="accordion-button collapsed filter__accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#categoriesBody" aria-expanded="false" aria-controls="categoriesBody">
                                            From caterogies
                                        </button>
                                    </h2>
                                    <div id="categoriesBody" class="accordion-collapse collapse filter__accordion-collapse" aria-labelledby="categories" data-bs-parent="#filter">
                                        <div class="accordion-body filter__accordion-body">
                                            <div class="categories">
                                                <button type="button" class="categories__item">Animal</button>
                                                <button type="button" class="categories__item">Career</button>
                                                <button type="button" class="categories__item active">Celebrity</button>
                                                <button type="button" class="categories__item">Dev</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item filter__accordion-item">
                                    <h2 class="accordion-header" id="search">
                                        <button class="accordion-button collapsed filter__accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#searchBody" aria-expanded="false" aria-controls="searchBody">
                                            Search
                                        </button>
                                    </h2>
                                    <div id="searchBody" class="accordion-collapse collapse filter__accordion-collapse" aria-labelledby="categories" data-bs-parent="#filter">
                                        <div class="accordion-body filter__accordion-body">
                                            <div class="search">
                                                <label>
                                                    <input type="text" class="form-control" id="searchInput">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="submit">
                            <button type="submit" class="btm btn-primary">Get a joke</button>
                        </div>
                        <div class="jokes">
                            <div class="jokes__item">
                                <a href="javascript:void(0);" class="jokes__item-heart"></a>
                                <div class="jokes__item-grid">
                                    <div class="jokes__item-info">
                                        <div class="jokes__item-id">
                                            ID: <a href="javascript:void(0);" class="jokes__item-link">XNaAxUduSw6zANDaIEab7A</a>
                                        </div>
                                        <div class="jokes__item-body">No one truly knows who's Chuck Norris' real father. No one is biologically strong enough for this. He must've conceived himself.</div>
                                    </div>
                                    <div class="jokes__item-footer">
                                        <div class="jokes__item-date">Last update: <span>1923 hours ago</span></div>
                                        <div class="jokes__item-category">Celebrity</div>
                                    </div>
                                </div>
                            </div>
                            <div class="jokes__item">
                                <a href="javascript:void(0);" class="jokes__item-heart active"></a>
                                <div class="jokes__item-grid">
                                    <div class="jokes__item-info">
                                        <div class="jokes__item-id">
                                            ID: <a href="javascript:void(0);" class="jokes__item-link">XNaAxUduSw6zANDaIEab7A</a>
                                        </div>
                                        <div class="jokes__item-body">No one truly knows who's Chuck Norris' real father. No one is biologically strong enough for this. He must've conceived himself.</div>
                                    </div>
                                    <div class="jokes__item-footer">
                                        <div class="jokes__item-date">Last update: <span>1923 hours ago</span></div>
                                        <div class="jokes__item-category">Celebrity</div>
                                    </div>
                                </div>
                            </div>
                            <div class="jokes__item">
                                <a href="javascript:void(0);" class="jokes__item-heart"></a>
                                <div class="jokes__item-grid">
                                    <div class="jokes__item-info">
                                        <div class="jokes__item-id">
                                            ID: <a href="javascript:void(0);" class="jokes__item-link">XNaAxUduSw6zANDaIEab7A</a>
                                        </div>
                                        <div class="jokes__item-body">No one truly knows who's Chuck Norris' real father. No one is biologically strong enough for this. He must've conceived himself.</div>
                                    </div>
                                    <div class="jokes__item-footer">
                                        <div class="jokes__item-date">Last update: <span>1923 hours ago</span></div>
                                        <div class="jokes__item-category">Celebrity</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>

        </footer>
    </div>
    <div class="">
        <div class="offcanvas offcanvas-end" tabindex="-1" id="favourite" aria-labelledby="favouriteLabel">
            <div class="offcanvas-header">
                <h5 id="favouriteLabel" class="d-none d-lg-block">Favourite</h5>
                <button type="button" class="favourite favourite--close d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close">Favourite</button>
            </div>
            <div class="offcanvas-body">
                <div class="jokes jokes--favourite">
                    <div class="jokes__item">
                        <a href="javascript:void(0);" class="jokes__item-heart active"></a>
                        <div class="jokes__item-grid">
                            <div class="jokes__item-info">
                                <div class="jokes__item-id">
                                    ID: <a href="javascript:void(0);" class="jokes__item-link">XNaAxUduSw6zANDaIEab7A</a>
                                </div>
                                <div class="jokes__item-body">No one truly knows who's Chuck Norris' real father. No one is biologically strong enough for this. He must've conceived himself.</div>
                            </div>
                            <div class="jokes__item-footer">
                                <div class="jokes__item-date">Last update: <span>1923 hours ago</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="jokes__item">
                        <a href="javascript:void(0);" class="jokes__item-heart active"></a>
                        <div class="jokes__item-grid">
                            <div class="jokes__item-info">
                                <div class="jokes__item-id">
                                    ID: <a href="javascript:void(0);" class="jokes__item-link">XNaAxUduSw6zANDaIEab7A</a>
                                </div>
                                <div class="jokes__item-body">No one truly knows who's Chuck Norris' real father. No one is biologically strong enough for this. He must've conceived himself.</div>
                            </div>
                            <div class="jokes__item-footer">
                                <div class="jokes__item-date">Last update: <span>1923 hours ago</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="jokes__item">
                        <a href="javascript:void(0);" class="jokes__item-heart active"></a>
                        <div class="jokes__item-grid">
                            <div class="jokes__item-info">
                                <div class="jokes__item-id">
                                    ID: <a href="javascript:void(0);" class="jokes__item-link">XNaAxUduSw6zANDaIEab7A</a>
                                </div>
                                <div class="jokes__item-body">No one truly knows who's Chuck Norris' real father. No one is biologically strong enough for this. He must've conceived himself.</div>
                            </div>
                            <div class="jokes__item-footer">
                                <div class="jokes__item-date">Last update: <span>1923 hours ago</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>