<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="True English Tea">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="robots" content="noindex, nofollow">

    <link rel="icon" href="/src/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/src/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/src/img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/src/img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/src/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/src/img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/src/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/src/img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/src/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/src/img/touch-icon-ipad-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/src/img/touch-icon-ipad-pro.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/src/img/touch-icon-iphone-6-plus.png">
</head>
<body>

<div class="grid">
    <div class="">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="logo">MSI 2020</div>
                    </div>
                    <div class="col-6 text-end">
                        <button type="button" class="favourite d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#favourite" aria-controls="favourite">Favourite</button>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="heading">
                            <h1>Hey!</h1>
                            <h2>Let’s try to find a joke for you:</h2>
                        </div>
                        <div class="filter">
                            <div class="filter__item">
                                <input type="radio" id="random" name="filter" value="random" checked>
                                <label for="random" class="filter__item-label">Random</label>
                                <div class="filter__item-body" data-id="random"></div>
                            </div>
                            <div class="filter__item">
                                <input type="radio" id="categories" name="filter" value="categories">
                                <label for="categories" class="filter__item-label">From categories</label>
                                <div class="filter__item-body" data-id="categories">
                                    <div class="categories">
                                        <!-- Data from API -->
                                    </div>
                                </div>
                            </div>
                            <div class="filter__item">
                                <input type="radio" id="search" name="filter" value="search">
                                <label for="search" class="filter__item-label">Search</label>
                                <div class="filter__item-body" data-id="search">
                                    <div class="search">
                                        <label class="w-100">
                                            <input type="text" class="form-control w-100" id="searchInput" placeholder="Free text search...">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="submit mt-3 mb-4">
                            <button type="submit" class="btn btn-primary get-joke">Get a joke</button>
                        </div>
                        <div class="jokes" id="jokes">
                            <!-- Data from API -->
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>

        </footer>
    </div>
    <div class="">
        <div class="offcanvas offcanvas-end" tabindex="-1" id="favourite" aria-labelledby="favouriteLabel">
            <div class="offcanvas-header">
                <h5 id="favouriteLabel" class="d-none d-lg-block">Favourite</h5>
                <button type="button" class="favourite favourite--close d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close">Favourite</button>
            </div>
            <div class="offcanvas-body">
                <div class="jokes jokes--favourite">
                    <!-- Data from API -->
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>